<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarDealApplication"
        tools:targetApi="31">
        <activity
            android:name=".car_info.InfoActivity3"
            android:exported="false"
            android:theme="@style/Theme.CarDealApplication"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CarDealApplication" />
        <activity
            android:name=".MyCarsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".car_info.InfoActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.SellActivity3"
            android:exported="false"
            android:parentActivityName=".sell.SellActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.SellActivity2"
            android:exported="false"
            android:parentActivityName=".sell.SellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchase.PurchaseActivity2"
            android:exported="true"
            android:parentActivityName=".purchase.PurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".car_info.InfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".sell.SellActivity"
            android:exported="true"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchase.PurchaseActivity"
            android:exported="true"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptionsActivity"
            android:exported="true"
            android:label="Home Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>