<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarDealApplication"

        tools:targetApi="31" >
        <activity
            android:name=".RecommendedActivity"
            android:exported="false" />

        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".OptionsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".OptionsActivity"
            android:exported="false" />
        <activity
            android:name=".car_info.InfoActivity3"
            android:exported="false"
            android:parentActivityName=".OptionsActivity"
            android:theme="@style/Theme.CarDealApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CarDealApplication" />
        <activity
            android:name=".MyCarsActivity"
            android:exported="false"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".car_info.InfoActivity2"
            android:exported="false"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sell.SellActivity3"
            android:exported="false"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sell.SellActivity2"
            android:exported="false"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".purchase.PurchaseActivity2"
            android:exported="true"
            android:parentActivityName=".purchase.PurchaseActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".car_info.InfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".OptionsActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sell.SellActivity"
            android:exported="true"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".purchase.PurchaseActivity"
            android:exported="true"
            android:parentActivityName=".OptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OptionsActivity"
            android:exported="true"
            android:label="Home Page"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".authentication.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>